<div class="activity-list">
    <div class="activity-item" *ngFor="let activity of activities">
        <div class="activity-icon" [class.lesson]="activity.type === 'lesson'" [class.quiz]="activity.type === 'quiz'"
            [class.certificate]="activity.type === 'certificate'">
            <lucide-icon [img]="getIcon(activity.type)" [size]="20"></lucide-icon>
        </div>
        <div class="activity-content">
            <p class="activity-title">{{ activity.title }}</p>
            <p class="activity-meta">{{ activity.course }} • {{ activity.time }}</p>
        </div>
    </div>
</div>